/* 
Cross-Referencing Natural KeyValues

Recall fromChapter 1 that a surrogate key is an artificial primary key, as opposed to a natural key,
which represents a unique descriptor of data (for example, a Social Security Number is an example
of a natural key, but an IDENTITY property column is a surrogate key). IDENTITY values are often used
as surrogate primary keys but are also referenced as foreign keys.
Inmy own OLTP and star schema database designs, I assign each table a surrogate key by
default, unless there is a significant reason not to do so. Doing this helps you abstract your own
unique key fromany external legacy natural keys. If you are using, for example, an EmployeeNumber
that comes fromthe HR systemas your primary key instead, you could run into trouble later on if
that HR systemdecides to change its data type (forcing you to change the primary key, any foreign
key references, and composite primary keys). Surrogate keys help protect you fromchanges like this
because they are under your control, and so theymake good primary keys. You can keep your natural
keys’ unique constraints without worrying about external changes impacting your primary or
foreign keys.

When importing data fromlegacy systems into production tables, you’ll often still need to reference
the natural key in order to determine which rows get inserted, updated, or deleted. This isn’t
very tricky if you’re just dealing with a single column (for example, EmployeeID, CreditCardNumber,
SSN, UPC). However, if the natural key ismade up ofmultiple columns, the cross-referencing to the
production tablesmay not be quite so easy.
The following demonstrates a scalar, user-defined function that can be used to simplify natural
key lookups, by checking for their existence prior to performing an action. To set up the example, I’ll
execute a few objects and commands.
First, I’ll create a new table that uses its own surrogate keys, along with three columns that
make up the composite natural key (these three columns formthe unique value that received from
the legacy system):
*/
CREATE TABLE dbo.DimProductSalesperson(
	DimProductSalespersonID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	ProductCD char(10) NOT NULL,
	CompanyNBR int NOT NULL,
	SalespersonNBR int NOT NULL)
GO

/*
■ Caution This recipe doesn’t add indexes to the tables; however, in a real-life scenario, you’ll want to add
indexes for key columns used for join operations or qualified in the WHERE clause of a query.
Next, I’ll create a staging table that holds rows fromthe external legacy data file. For example,
this table could be populated froman external text file that is dumped out of the legacy system.
This table doesn’t have a primary key, as it is just used to hold data prior to beingmoved to the
dbo.DimProductSalesperson table: */

CREATE TABLE dbo.Staging_PRODSLSP( 
	ProductCD char(10) NOT NULL,
	CompanyNBR int NOT NULL,
	SalespersonNBR int NOT NULL
)
GO

-- Next, I’ll insert two rows into the staging table:
INSERT dbo.Staging_PRODSLSP (ProductCD, CompanyNBR, SalespersonNBR)
VALUES ('2391A23904', 1, 24)

INSERT dbo.Staging_PRODSLSP(ProductCD, CompanyNBR, SalespersonNBR)
VALUES ('X129483203', 1, 34)

/*Now, these two rows can be inserted into the DimProductSalesperson table using the following
query, which doesn’t use a scalar UDF: */

INSERT dbo.DimProductSalesperson(ProductCD, CompanyNBR, SalespersonNBR)
SELECT s.ProductCD, s.CompanyNBR, s.SalespersonNBR
FROM dbo.Staging_PRODSLSP s
	LEFT OUTER JOIN dbo.DimProductSalesperson d ON s.ProductCD = d.ProductCD 
		AND s.CompanyNBR = d.CompanyNBR 
		AND s.SalespersonNBR = d.SalespersonNBR
WHERE d.DimProductSalespersonID IS NULL 


/* Because each column forms the natural key, Imust LEFT join each column fromthe inserted
table against the staging table, and then check to see whether the row does not already exist in the
destination table using IS NULL.
An alternative to this, allowing you to reduce the code in each INSERT/UPDATE/DELETE, is to
create a scalar UDF like the following:
*/

CREATE FUNCTION dbo.udf_GET_Check_NK_DimProductSalesperson (@ProductCD char(10), @CompanyNBR int, @SalespersonNBR int )
RETURNS bit
AS
BEGIN
DECLARE @Exists bit
IF EXISTS (SELECT DimProductSalespersonID
FROM dbo.DimProductSalesperson
WHERE @ProductCD = @ProductCD AND
@CompanyNBR = @CompanyNBR AND
@SalespersonNBR = @SalespersonNBR)
BEGIN
SET @Exists = 1
END
ELSE
BEGIN
SET @Exists = 0
END
RETURN @Exists
END
GO

/*The UDF certainly looks likemore code up front, but you’ll obtain the benefit later during the
data import process. For example, now you can rewrite the INSERT operation demonstrated earlier,
as follows:*/
INSERT dbo.DimProductSalesperson(ProductCD, CompanyNBR, SalespersonNBR)
SELECT ProductCD, CompanyNBR, SalespersonNBR
FROM dbo.Staging_PRODSLSP
WHERE dbo.udf_GET_Check_NK_DimProductSalesperson(ProductCD, CompanyNBR, SalespersonNBR) = 0

