

-- Returning an Identity Column’s Seed and IncrementingValue
SELECT	IDENT_INCR('Production.Product') IdentIncr,
		IDENT_SEED('Production.Product') IdentSeed
		
/* Creating a New uniqueidentifierValue
The NEWID function is used to create a uniqueidentifier data type value. The first example returns a
new uniqueidentifier value in a SELECT statement: */ 
SELECT NEWID()

/*
The NEWSEQUENTIALID can also be used to generate new GUID values; only in this case, each
new value generated on the computer will be greater than any value previously generated.
To demonstrate, first I’ll create a new temporary table and populate it with five rows:
*/

CREATE TABLE #T5 (
		MyValue uniqueidentifier NOT NULL DEFAULT NEWSEQUENTIALID(),
		InsertDT datetime2 NOT NULL DEFAULT SYSDATETIME())
GO

INSERT #T5 DEFAULT VALUES
INSERT #T5 DEFAULT VALUES
INSERT #T5 DEFAULT VALUES
INSERT #T5 DEFAULT VALUES
INSERT #T5 DEFAULT VALUES

-- Next, I’ll query the table ordering by the uniqueidentifier value:
SELECT MyValue, InsertDT
FROM #T5
ORDER BY MyValue


/* Notice that the ordering of the values alsomatches the order of date when they were inserted:
MyValue InsertDT
---------------------------------------------------------------
EE78AB60-E548-DC11-A195-00188B28C9C5 2007-08-12 10:04:53.0833262
EF78AB60-E548-DC11-A195-00188B28C9C5 2007-08-12 10:04:53.8033262
F078AB60-E548-DC11-A195-00188B28C9C5 2007-08-12 10:04:54.3603262
F178AB60-E548-DC11-A195-00188B28C9C5 2007-08-12 10:04:54.9103262
F278AB60-E548-DC11-A195-00188B28C9C5 2007-08-12 10:04:55.3903262
---------------------------------------------------------------

How It Works

As this recipe shows, NEWID and NEWSEQUENTIALID can be used within a SELECT statement or as a
DEFAULT column value in a CREATE or ALTER TABLE statement.Whereas NEWID provides random
values, NEWSEQUENTIALID allows for incremental uniqueidentifier values. This behavior reduces
page splitting on the key, as well as randompage lookups.

■ Caution Unlike with NEWID, the increment of values for NEWSEQUENTIALID can be derived based on existing
values. For example, if a GUID is exposed on a URL, and a person wants to see someone else’s data, she could
potentially increment her own value to view consecutive records.
Also note, if your SQL Server instance doesn’t have a network card (not a common configuration), unique
values are generated within the contact of the server scope—meaning that duplicate values could be generated
on other SQL instances.