-- Flushing the Procedure Cache
/* 
In this recipe, I’ll demonstrate how to remove all plans fromthe procedure cache. This technique
is often used in order to test procedure performance in a “cold” cache, reproducing the cache as
though SQL Server had just been restarted. This is an option for you on a development SQL Server
instance, if you want tomake sure existing cached query plans don’t have an impact on your stored
procedure performance testing.
■ Caution Don’t use this command in a production environment, as you could be knocking out several cached
query plans that are perfectly fine.

In this example, a count of cached query plans is executed prior to executing DBCC
FREEPROCCACHE:
*/
SELECT COUNT(*) 'CachedPlansBefore'
FROM sys.dm_exec_cached_plans

/*This returns
CachedPlansBefore
42
Next, the procedure cache for the entire SQL Server instance is cleared:
*/

DBCC FREEPROCCACHE
SELECT COUNT(*) 'CachedPlansAfter'
FROM sys.dm_exec_cached_plans

/*This returns
DBCC execution completed. If DBCC printed error messages,
contact your system administrator.
CachedPlansAfter
0
(1 row(s) affected)

*/