/* 
Deadlocking

Deadlocking occurs when one user session (let’s call it Session 1) has locks on a resource that
another user session (let’s call it Session 2) wants tomodify, and Session 2 has locks on resources
that Session 1 needs tomodify. Neither Session 1 nor Session 2 can continue until the other releases
the locks, so SQL Server chooses one of the sessions in the deadlock as the deadlock victim.

----------------------------------------------------------------------------------------------
■ Note A deadlock victim has its session killed and transactions rolled back. 
----------------------------------------------------------------------------------------------

Identifying Deadlocks with a Trace Flag

If you are having deadlock trouble in your SQL Server instance, this recipe demonstrates how to
make sure deadlocks are logged to the SQL ServerManagement Studio SQL log appropriately using
the DBCC TRACEON, DBCC TRACEOFF, and DBCC TRACESTATUS commands. These functions enable, disable,
and check the status of trace flags.

Trace flags are used within SQL Server to enable or disable specific behaviors for the SQL
Server instance. By default, SQL Server doesn’t return significant logging when a deadlock event
occurs. Using trace flag 1222, information about locked resources and types participating in a
deadlock are returned in an XML format, helping you troubleshoot the event.

The DBCC TRACEON command enables trace flags. The syntax is as follows:
DBCC TRACEON ( trace# [ ,...n ][ ,-1 ] ) [ WITH NO_INFOMSGS ]


The DBCC TRACESTATUS command is used to check on the status (enabled or disabled) for a specific
flag or flags. The syntax is as follows:
DBCC TRACESTATUS ( [ [ trace# [ ,...n ] ] [ , ] [ -1 ] ] ) [ WITH NO_INFOMSGS ]

The DBCC TRACEOFF command disables trace flags. The syntax is as follows:
DBCC TRACEOFF ( trace# [ ,...n ] [ , -1 ] ) [ WITH NO_INFOMSGS ]

In order to demonstrate this recipe, a deadlock will be simulated. In a new query editor window,
the following query is executed:
*/

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
WHILE 1=1
BEGIN
	BEGIN TRAN
	UPDATE Purchasing.Vendor
	SET CreditRating = 1
	WHERE BusinessEntityID = 1494
	UPDATE Purchasing.Vendor
	SET CreditRating = 2
	WHERE BusinessEntityID = 1492
	COMMIT TRAN
END

-- In a second query editor window, the following query is executed:

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
WHILE 1=1
BEGIN
	BEGIN TRAN
	UPDATE Purchasing.Vendor
	SET CreditRating = 2
	WHERE BusinessEntityID = 1492
	UPDATE Purchasing.Vendor
	SET CreditRating = 1
	WHERE BusinessEntityID = 1494
	COMMIT TRAN
END

-- After a few seconds, check each query editor window until the following errormessage appears
--  on one of the query editors:
-------------------------------------------------------------------------------------------------
Msg 1205, Level 13, State 51, Line 9
Transaction (Process ID 53) was deadlocked on lock resources
with another process and has been chosen as the deadlock victim.
Rerun the transaction.
-------------------------------------------------------------------------------------------------


-- Looking at the SQL log in SQL ServerManagement Studio, the deadlock event was not logged.
-- I’ll now open a third query editor window and execute the following command:

--run this first  to turn on 
DBCC TRACEON (1222, -1)
GO
DBCC TRACESTATUS


--run this first  to turn off 
DBCC TRACEOFF (1222, -1)
GO
DBCC TRACESTATUS

