USE AdventureWorks2008
GO 

-- NOTE: When creating views, you want to be as generic as possible with your filters 
--		 Should not be too specific 
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vw_ProductsNotDiscontinued]'))
DROP VIEW [dbo].[vw_ProductsNotDiscontinued]
GO

CREATE VIEW vw_ProductsNotDiscontinued
AS 
SELECT TOP 1000 [ProductID]
      ,[Name]
      ,[ProductNumber]
      ,[MakeFlag]
      ,[FinishedGoodsFlag]
      ,[Color]
      ,[SafetyStockLevel]
      ,[ReorderPoint]
      ,[StandardCost]
      ,[ListPrice]
FROM [AdventureWorks2008].[Production].[Product]
WHERE [DiscontinuedDate] IS NULL 

/*
You can also modify the data of a table by updating a view as long as the view meets several requirements:

	• Modifying the data of a view by inserting or updating may affect only one base table.
	• You may not delete data from a view that consists of more than one table.
	• The columns updated must be directly linked to updateable table columns; in other words, youcannot update a view column based on an expression or an otherwise non-updatable column.
	• Inserts into views are possible only if all columns that require a value are exposed through the view.
*/

USE AdventureWorks2008;
GO
--1
IF OBJECT_ID('dbo.demoCustomer') IS NOT NULL BEGIN
DROP TABLE dbo.demoCustomer;
END;
IF OBJECT_ID('dbo.demoPerson') IS NOT NULL BEGIN
DROP TABLE dbo.demoPerson;
END;
IF OBJECT_ID('dbo.vw_Customer') IS NOT NULL BEGIN
DROP VIEW dbo.vw_Customer;
END;
--2
SELECT CustomerID, TerritoryID, StoreID, PersonID
INTO dbo.demoCustomer
FROM Sales.Customer;
SELECT BusinessEntityID, Title, FirstName, MiddleName, LastName
INTO dbo.DemoPerson
From Person.Person;
GO
--3
CREATE VIEW vw_Customer AS
SELECT CustomerID, TerritoryID, PersonID, StoreID,
Title, FirstName, MiddleName, LastName
FROM dbo.demoCustomer
INNER JOIN dbo.demoPerson ON PersonID = BusinessEntityID;
GO
--4
SELECT CustomerID, FirstName, MiddleName, LastName
FROM dbo.vw_Customer
WHERE CustomerID IN (29484,29486,29489,100000);
--5
PRINT 'Update one row';
UPDATE dbo.vw_Customer SET FirstName = 'Kathi'
WHERE CustomerID = 29486;

--6
GO
PRINT 'Attempt to update both sides of the join'
GO
UPDATE dbo.vw_Customer SET FirstName = 'Franie',TerritoryID = 5
WHERE CustomerID = 29489;
--7
GO
PRINT 'Attempt to delete a row';
GO
DELETE FROM dbo.vw_Customer
WHERE CustomerID = 29484;
--8
GO
PRINT 'Insert into dbo.demoCustomer';
INSERT INTO dbo.vw_Customer(TerritoryID,
StoreID, PersonID)
VALUES (5,5,100000);
--9
GO
PRINT 'Attempt to insert a row into demoPerson';
GO
INSERT INTO dbo.vw_Customer(Title, FirstName, LastName)
VALUES ('Mrs.','Lady','Samoyed');
--10
SELECT CustomerID, FirstName, MiddleName, LastName
FROM dbo.vw_Customer
WHERE CustomerID IN (29484,29486,29489,100000);
--11
SELECT CustomerID, TerritoryID, StoreID, PersonID
FROM dbo.demoCustomer
WHERE PersonID = 100000;